<div class="row">
  <h2>Your Games</h2>
  <br>
  <ul>
    <% @games.each_with_index do |game, index| %>
      <li>
        <b><%= link_to "Game #{index+1}", game_path(game) %></b> | <%= game.capacity %> Players | <%= game.game_status %>
      </li>
    <% end %>
  </ul>
  <br>
</div>
