<div class="row">
  <%= form_for @game do |f| %>
    <%= f.label :capacity, "How many people are playing this game?" %>
    <%= f.number_field :capacity %>
    <%= f.submit "Create Game", :class => "btn btn-outline-primary" %>
  <% end %>
</div>
