<style>
html {
	background: no-repeat center center fixed url(<%= asset_path 'night.jpg' %>);
	min-height: 100%;
	-webkit-background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
</style>

<div class="row">
  <div id="gameStatus">
    <h2>GAME PLAYING</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" id="playersInfo">
    <%= render "characters" %>
  </div>

  <div class="col-sm-6" id="night">
    <%= render "night_forms" %>
  </div>

  <div class="col-sm-3" id="nightLog">
    <%= render "last_night" %>
  </div>
</div>
