/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "welcome";
@import "font-awesome";


html {
	background: url("images/mountain.jpg") no-repeat center center fixed;
	min-height: 100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
  transition: background-image 0.7s linear;
}

body {
  background-color : transparent;
  color: white;
}

// select {}

.btn-outline-primary {
  color: #f85c37;
  background-image: none;
  background-color: transparent;
  border-color: #f85c37;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #f85c37;
  border-color: #f85c37;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  color: #fff;
  background-color: #f85c37;
  border-color: #f85c37;
}

.btn-outline-primary:active, .btn-outline-primary.active,
.open > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #f85c37;
  border-color: #f85c37;
}

.btn-outline-primary:active:hover, .btn-outline-primary:active:focus, .btn-outline-primary:active.focus, .btn-outline-primary.active:hover, .btn-outline-primary.active:focus, .btn-outline-primary.active.focus,
.open > .btn-outline-primary.dropdown-toggle:hover,
.open > .btn-outline-primary.dropdown-toggle:focus,
.open > .btn-outline-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #F86A49;
  border-color: #F9795B;
}

.btn-primary {
  color: #fff;
  background-color: #f85c37;
  border-color: #f85c37;
}

.btn-primary:hover {
  color: #fff;
  background-color: #F9795B;
  border-color: #F86A49;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #F9795B;
  border-color: #F86A49;
}


.btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
  background-color: #F9795B;
  border-color: #F9795B;
}

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
  background-color: #F9795B;
  border-color: #F9795B;
}


@media (min-width: 1200px) {
  .container {
      width: 100%;
      max-width: 100%;
  }
}
